
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(99, 98, 98);
  opacity: 0.8;
  position: fixed;
  
  width: 100%;
  height: 70px;
  
  top: 0;
  padding: 0 20px;
  z-index: 999;
}

.navbar a {
  color: #fff;
  margin-left: 20px;
  color: #fff;
  margin-left: 20px;
  text-decoration: none; 
  border-bottom: none;  
}

.navbar a:hover {
  border-bottom: 4px solid #e4b94b;
}

nav ul {
  display: flex;
}
ul {
  list-style: none;
}
span {
  color: #e4b94b;
}

/* İletişim Bölümü */
.contact-section {
  padding: 100px 20px 50px 20px;
  background-color: #f5f5f5;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-info {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.5;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#contactForm button {
  cursor: pointer;
  border: none;
  background-color: #52585f;
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#contactForm button:hover {
  background-color: #e4b94b;
}

/* Harita */
.map {
  flex: 1 1 400px;
  min-height: 350px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* Footer */
.main-footer {
  background-color: rgb(99, 98, 98);
  color: #f0ebeb;
  opacity: 0.9;
  text-align: center;
  padding: 10px 0;
  margin-top: 90px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.social-icons a i {
  color: #f0ebeb; 
}
.social-icons a i:hover {
  color: #e4b94b; 
}




@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
