.btn{
cursor: pointer;
border: none;
background-color: #52585f;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
transition: background-color 0.3s ease;

}
.btn:hover{
    background-color:  #e4b94b;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-items {
  display: flex;
  justify-content: center;
 text-align: center;
 height: 100%;

}

.flex-items > div {
  margin: 10px;
  padding: 20px;
  flex-basis: 100%;
  
}

.flex-colunms .row {
  display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.flex-colunms .colunm {
    flex: 1;
    
    
}

.flex-colunms .colunm .colunm-1, 
.flex-colunms .colunm .colunm-2 {
    
    height: 100%;
  
    
}
.flex-colunms .colunm-2 {
   background-color: #6c6f72;
   opacity: 0.9;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 20px;
   padding: 3rem;
   
}
.flex-colunms h2 {
   font-size: 3rem;
    font-weight: 400;

}
.flex-colunms p {
    margin: 2rem 0;
    
    
}   

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    padding: 3rem;
}
.section-header h2 {
    font-size: 3rem;
   margin: 2rem 0;
}
.flex-grid .row {
    display: flex;
   flex-wrap: wrap;
   padding: 0.3rem;
   
   
}
.flex-grid .column {
   flex: 25%;
    padding: 0.3rem;
    gap: 10px;
}


.flex-grid .column img:hover {
  opacity: 0.8;
  cursor: pointer;
 
}
